{% extends "base.html.twig" %}

{% block title %}list etudiant{% endblock %}

{% block content %}
    <center>
        <h1>Liste des étudiants: </h1>
    </center>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Id Etudiant</th>
                <th scope="col">Nom</th>
                <th scope="col">Prenom</th>
                <th scope="col">Email</th>
                <th scope="col">Login</th>
                <th scope="col">Suppression</th>
            </tr>
            </thead>
            <tbody>
            {% for etudiant in etudiants %}
            <tr>
                <th scope="row"><a href ="/etudiant/{{ etudiant.getIdEtudiant }}">{{ etudiant.getIdEtudiant }}</th>
                <th scope="row"> {{ etudiant.getNom }}</th>
                <th scope="row">{{ etudiant.getPrenom }}</th>
                <th scope="row">{{ etudiant.getEmail }}</th>
                <th scope="row">{{ etudiant.getLogin }}</th>
                <th scope="row"><a href="/etudiant/{{ etudiant.getIdEtudiant }}/del" class="btn btn-danger">Supprimer</a></th>
            </tr>
    {% endfor %}
            </tbody>
        </table>

{% endblock %}